<div fxLayout="column" fxLayoutAlign="center center" >
    <mat-card style="height: 300px;width: 400px;margin-top: 150px !important;">
        <div fxLayout="column" fxLayoutAlign="space-around center" >
            <img src="../../../assets/images/logo.png">
            <mat-card-title style="margin-top: 32px !important;font-weight: 700;">DEVOPS MONITORING TOOL</mat-card-title>
            <mat-card-subtitle  style="margin-top: 40px !important;">
                <button (click) ="signIn()" mat-raised-button color="primary">Sign in with google</button>
            </mat-card-subtitle>
        </div>
       
      </mat-card>
</div>

